<!DOCTYPE html>
<html>
  <head>
    <title>Navigation bar DEMO</title>
    <link rel="stylesheet" href="../views/style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-div">
      <header class="navigation">
        <div>
          <img class="logo-home" src="../public/images/FINTECHWISE.png" />
        </div>
        <div>
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Mutual Funds</a></li>
              <li><a href="#">Stocks</a></li>
              <li><a href="#">Expenditure Manager</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </nav>
        </div>
        <div>
          <button class="button get-started">Get Started</button>
        </div>
      </header>
      <main>
        <div class="home-main-page-container">
          <div class="home-main-page-left">
            <div>
              <h1 class="home-text">Meet the next gen banking</h1>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
              consequat libero eget magna commodo, quis pharetra tellus pretium.
              Sed viverra Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. In consequat libero eget magna commodo
            </p>
            <br />
            <button class="button">Get Started</button>
            &nbsp;&nbsp;&nbsp;
            <button class="button">Stocks</button>
          </div>
          <div class="home-main-page-right">
            <img
              class="main-img"
              src="../public/images/credit-cards.png"
            />
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
