h3{
    font-size: 50px;
}

.budgetcontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: center;
}
label{
    display: inline-block;
    text-align: left;
}
input{
    width: 250px;
}
.Form-input div{
    bottom-padding: 10px;
}

button{
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    font: abel;
    background-color: blue;
    color: white;
    font-size: 15px;
}

.Output{
    padding: 20px;
    color: white;
    border-radius: 30px;
    text-align: center;
}

.suggHeading{
    color: yellow;
    font-size: 30px;

}